.landingbox{
    padding: 18vh 5vw 0 5vw;
    display: flex;
    min-height: 600px;
    div{
        &:nth-child(2){
         padding: 0 1vh 0 5vw; 
        }
        img{
            width: 800px;
            height: 500px;
        }
        h1{
            color: rgba($color: #000000, $alpha: .5);
        }
        p{
            color: rgba($color: #000000, $alpha: .7);
            font-size: 18px;
            line-height: 32px;
        }
    }
}

@media (max-width:900px){
    .landingbox{
        flex-direction: column;
        padding-top: 10vh;
        div{
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}