@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
html{
    scroll-behavior: smooth;
}
::selection{
    color:white;
    background-color: #333;
   }
.App{
    display: flex;
    flex-direction: column;
}