.custombutton{
    background-color: white;
    border: 1px solid #333;
    padding: 2vh 2vw 2vh 2vw;
    font-size: 18px;
    font-family: 'Roboto';
    outline: none;
    &:hover{
        color: white;
        background-color: #333;
        border: 1px solid white;
    }
}